---
import type { GetStaticPaths } from 'astro';
import { printFileURL } from '../../../../common/functions';
import Layout from '../../../../layouts/Layout.astro';

export const getStaticPaths = (() => {
	return [
		{ params: { language: 'en', posts: 'test' } },
		{ params: { language: 'ko', posts: 'test' } },
		{ params: { language: 'ja', posts: 'test' } },
	];
}) satisfies GetStaticPaths;

import { Content as GreatPost } from '../[posts]/test.md';

printFileURL(import.meta.url);
---

<Layout>
	<p>This is post page</p>
	<GreatPost />
</Layout>
