---
import { getEntry, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

import RootLayout from "../../../../layouts/RootLayout.astro";
import Prose from "../../../../layouts/Prose.astro";
import { collectionMap } from "../../../../common/types";
import type { Languages } from "../../../../common/types";

const { slug } = Astro.params as { slug: string };
const { language } = Astro.params as { language: Languages };

const post = (await getEntry(collectionMap[language], slug)) as CollectionEntry<
  (typeof collectionMap)[typeof language]
>;
const { tags } = post.data;

if (!post) {
  throw new Error("no entry");
}

const { Content } = await render(post);
---

<RootLayout>
  <Prose>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/${language}/blog/tag/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
    <Content />
  </Prose>
</RootLayout>
