---
import RootLayout from "../../../layouts/RootLayout.astro";
import ContactForm from "../../../components/contact/ContactForm.astro";
import type { Languages } from "../../../common/types";
import { printPageTitle } from "../../../common/functions";
const { language } = Astro.params as { language: Languages };
const title = printPageTitle(Astro.url.pathname, language);
---

<RootLayout title={title}>
  <div class="px-2">
    <ContactForm language={language} />
  </div>
</RootLayout>
