---
import RootLayout from "../../../layouts/RootLayout.astro";
import ContactForm from "../../../components/contact/ContactForm.astro";
import type { Languages } from "../../../common/types";
import { isStringLanguage, printPageTitle } from "../../../common/functions";
const { language } = Astro.params as { language: Languages };
const title = printPageTitle(Astro.url.pathname, language);
import "../../../css/blob.scss";
if (!isStringLanguage(language)) {
  return new Response(null, { status: 404 });
}
---

<RootLayout title={title}>
  <div class="px-2">
    <ContactForm language={language} />
  </div>
</RootLayout>

<script src="/src/js/blob.js"></script>
