---
import Modal from "../../layouts/Modal.astro";
import Hamburger from "../Hamburger.astro";
import { menus } from "../../common/htmlElements";
import type { Languages } from "../../common/types";
const { language } = Astro.props as { language: Languages };
const whichPage = Astro.url.pathname.split("/")[2];
---

<Modal modalName="nav">
  <nav id="nav-in-modal">
    <ul class="flex flex-col gap-4">
      {
        (Object.keys(menus) as (keyof typeof menus)[]).map((item) => (
          <li
            class={`text-3xl font-bold ${Astro.url.pathname.split("/")[2] === item || (whichPage === "" && item === "main") || (whichPage === "tags" && item === "blog") ? "text-white" : "text-rosewater"}`}
          >
            <a class="no-underline" href={`/${language}${menus[item]["href"]}`}>
              {menus[item][language]}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <Hamburger position="fixed" top="top-[39px]" right="right-5" />
</Modal>
