@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');
@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);
@theme {
	--color-green1: #06170b;
	--color-green2: #3d5b59;
	--color-green3: #048c70;
	--color-green4: #b6e2d3;
	--color-green5: #b4f8c8;
	--color-rosewater: #d8a7b1;
	--color-pink: #d887c5;
	--color-purple1: #786287;
	--color-purple2: #d6acff;
	--color-purple3: #ab9df2;
	--color-purple4: #6455ae;
	--color-hotpink: #ef7c8e;
	--color-yellow1: #fbe7c6;
	--color-yellow2: #fdfdb6;
	--color-gray3: #f8fafc;
	--color-gray1: #f5f5f5;
	--color-gray2: #e4e0e1;
	--color-gray4: #b7b7b7;
	--color-gray5: #808080;
	--font-en: 'Atkinson Hyperlegible', serif;
	--font-ko: '42dot Sans', serif;
	--font-ja: 'Zen Kaku Gothic New', serif;
}
