---
import RootLayout from "../../../layouts/RootLayout.astro";
import GuestbookForm from "../../../components/guestbook/GuestbookForm.astro";
import GuestbookList from "../../../components/guestbook/GuestbookList.astro";
import type { Languages } from "../../../common/types";
import { isStringLanguage, printPageTitle } from "../../../common/functions";
import "../../../css/particles.scss";
const { language } = Astro.params as { language: Languages };
const title = printPageTitle(Astro.url.pathname, language);
if (!isStringLanguage(language)) {
  return new Response(null, { status: 404 });
}
---

<RootLayout title={title}>
  <div class="mx-auto max-w-4xl">
    <GuestbookForm language={language} />
    <GuestbookList language={language} />
  </div>
</RootLayout>

<script src="/src/js/particles.js"></script>
