---
import RootLayout from "../../../layouts/RootLayout.astro";
import { pageTitles } from "../../../common/htmlElements";
import { printFileURL } from "../../../common/functions";
import type { Languages } from "../../../common/types";
import GuestbookForm from "../../../components/guestbook/GuestbookForm.astro";
import GuestbookList from "../../../components/guestbook/GuestbookList.astro";
const { language } = Astro.params as { language: Languages };
const folderName = printFileURL(import.meta.url) as keyof typeof pageTitles;
const title = `${pageTitles[folderName][language]} - ${pageTitles["main"][language]}`;
---

<RootLayout title={title}>
  <div class="mx-auto max-w-4xl">
    <GuestbookForm />
    <GuestbookList />
  </div>
</RootLayout>
