#commit-history .react-activity-calendar__scroll-container {
  overflow: visible !important;
}

#commit-history .os-scrollbar.os-scrollbar-horizontal.os-scrollbar-cornerless {
  bottom: 17.5px !important;
}

:not([data-theme="dark"]) #commit-history {
  color: #053d27;
}

[data-theme="dark"] #commit-history {
  color: #f8fafc;
}
