---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import profileImage from '../../assets/profile.png';
export const prerender = false;
---

<section class="profile flex justify-center pt-14 gap-6" id="profile">
	<Image class:list={['rounded-full', 'w-[400px]', 'aspect-square']} src={profileImage} alt="Dug's profile image" />
	<div class="profile__descriptions flex flex-col items-center justify-center">
		<p class="profile__descriptions__greetings text-4xl mb-5 text-gray2">Hello! I am</p>
		<p class="profile__descriptions__name text-6xl font-extrabold text-hotpink">Suho Park</p>
		<p class="profile__descriptions__web-developer text-5xl mb-5 text-yellow">Web developer</p>
		<p class="profile__descriptions__aim text-2xl self-end mb-2 font-extralight text-gray2">- slowly but steadily🐢</p>
		<div class="profile__descriptions__sns flex self-end text-gray2 text-5xl font-extralight">
			<a href="https://www.github.com/duglikespiano" target="_blank">
				<Icon name="tabler:brand-github" />
			</a>
			<a href="https://www.instagram.com/piano_dug" target="_blank">
				<Icon name="tabler:brand-instagram" />
			</a>
		</div>
	</div>
</section>
