---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import profileImage from "../../assets/profile.png";
---

<section
  id="profile"
  class="mx-auto justify-center pt-12 md:grid md:w-full md:grid-cols-2 md:gap-10 md:pt-0 lg:flex lg:w-[844px] lg:justify-between"
>
  <Image
    class="mx-auto aspect-square w-[300px] rounded-full md:ml-auto lg:w-[400px]"
    src={profileImage}
    alt="Dug's profile image"
  />
  <div class="flex flex-col justify-end">
    <p class="mt-5 flex flex-col items-center md:mt-0 md:items-start">
      <span class="text-gray2 mb-1 text-4xl md:mb-3 lg:text-4xl">Hello! I am</span>
      <span class="text-hotpink text-4xl font-extrabold lg:text-7xl">Suho Park</span>
      <span class="text-yellow1 mb-1 text-4xl md:mb-5 lg:text-4xl">Web developer</span>
      <span class="text-gray2 mb-2 text-xl md:mb-14 md:text-2xl"
        ><span class="opacity-80">slowly but steadily</span>&nbsp;🐢</span
      >
    </p>
    <div class="text-gray2 flex justify-center text-4xl md:justify-start md:text-4xl lg:text-6xl">
      <a href="https://www.github.com/duglikespiano" target="_blank" class="duration-200 hover:scale-110">
        <Icon name="ph:github-logo-light" />
      </a>
      <a href="https://www.instagram.com/piano_dug" target="_blank" class="duration-200 hover:scale-110">
        <Icon name="ph:instagram-logo-light" />
      </a>
    </div>
  </div>
</section>
