---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import profileImage from '../../assets/profile.png';
export const prerender = false;
---

<section id="profile" class="flex justify-center gap-6">
	<Image class="rounded-full w-[400px] aspect-square" src={profileImage} alt="Dug's profile image" />
	<div class="flex flex-col items-center justify-center">
		<p class="text-4xl mb-5 text-gray2">Hello! I am</p>
		<p class="text-6xl font-extrabold text-hotpink">Suho Park</p>
		<p class="text-5xl mb-5 text-yellow1">Web developer</p>
		<p class="text-2xl self-end mb-2 font-extralight text-gray2">- slowly but steadily🐢</p>
		<div class="flex self-end text-gray2 text-5xl font-extralight">
			<a href="https://www.github.com/duglikespiano" target="_blank">
				<Icon name="ph:github-logo-light" />
			</a>
			<a href="https://www.instagram.com/piano_dug" target="_blank">
				<Icon name="ph:instagram-logo-light" />
			</a>
		</div>
	</div>
</section>
