---
import { skills, componentTitles } from "../../common/htmlElements";
import type { Languages } from "../../common/types";
const { language } = Astro.props as { language: Languages };
const componentTitle = componentTitles["skills"][language];
---

<section
  id="skills"
  class="dark:after:bg-gray3 after:bg-green2 relative pb-15 after:absolute after:bottom-0 after:left-[50%] after:block after:h-0.5 after:w-full after:translate-x-[-50%] after:content-['']"
>
  <h2 class="text-green2 dark:text-rosewater text-2xl font-extrabold">{componentTitle}</h2>
  <ul
    class="dark:border-gray3 border-green2 dark:bg-green1 bg-rosewater relative z-10 mt-5 grid grid-cols-2 justify-center gap-2 gap-x-1 rounded-4xl border-4 p-3 sm:gap-5 sm:p-8 lg:grid-cols-4"
  >
    {
      Object.values(skills.data).map((category) => (
        <li class="flex flex-col sm:gap-3">
          <p class="dark:text-gray3 text-green1 text-xl font-bold">{category["name"][language]}</p>
          <ul class="flex flex-wrap gap-2">
            {category.skills.map((skill) => (
              <li>
                <img src={`https://skillicons.dev/icons?i=${skill.name}&theme=dark`} alt={skill.name} />
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</section>
