---
import { allofMySkills } from '../../common/variables';
const { language } = Astro.props;
---

<section id="projects" class="px-20 pt-15">
	<h3 class="text-rosewater font-bold text-5xl">Projects</h3>
	<ul class="flex flex-col gap-10 mt-5">
		{
			Object.values(allofMySkills).map((category) => (
				<li>
					<p>{language === 'en' ? category.name.en : language === 'ko' ? category.name.ko : category.name.ja}</p>
					{category.skills.map((skill) => (
						<p>{skill.name}</p>
					))}
				</li>
			))
		}
	</ul>
</section>
