---
import { allofMySkills } from '../../common/variables';
---

<section id="projects" class="px-20 pt-15">
	<h3 class="text-rosewater font-bold text-5xl">Projects</h3>
	<ul class="flex flex-col gap-10 mt-5">
		<li class="flex flex-col">
			<p>Frontend</p>
			{allofMySkills.frontend.map((skill) => <p>{skill.name}</p>)}
		</li>
		<li class="flex flex-col">
			<p>Backend</p>
			{allofMySkills.backend.map((skill) => <p>{skill.name}</p>)}
		</li>
		<li class="flex flex-col">
			<p>Cloud</p>
			{allofMySkills.cloud.map((skill) => <p>{skill.name}</p>)}
		</li>
		<li class="flex flex-col">
			<p>Misc</p>
			{allofMySkills.misc.map((skill) => <p>{skill.name}</p>)}
		</li>
	</ul>
</section>
