---
import Modal from "../../layouts/Modal.astro";
import { Icon } from "astro-icon/components";
import type { Languages } from "../../common/types";
const { language } = Astro.props as { language: Languages };
---

<Modal modalName="fetch-processing">
  <div
    id="fetch-processing"
    class="relative mx-6 flex aspect-square w-full max-w-[28rem] flex-col justify-center gap-4 rounded-4xl border-4 p-5"
  >
    <div class="flex flex-col items-center justify-center" data-on-success>
      <Icon name="gg:spinner-two" class="dark:text-green3 h-28 w-28 animate-spin" />
      <p class="mt-3 text-3xl" data-fetch-processing>Processing...</p>
    </div>
  </div>
</Modal>
