---
import Modal from "../../layouts/Modal.astro";
import { Icon } from "astro-icon/components";
import type { Languages } from "../../common/types";
const { language } = Astro.props as { language: Languages };
---

<Modal modalName="contact-complete">
  <div
    id="contact-process"
    class="relative mx-6 flex aspect-square max-h-[30rem] w-full max-w-[30rem] flex-col items-center justify-center gap-5 rounded-4xl border-4"
  >
    <div class="hidden flex-col items-center justify-center" data-on-error>
      <Icon name="humbleicons:exclamation" class="h-28 w-28 text-red-500 md:h-36 md:w-36" />
      <p class="mt-1 text-3xl sm:mt-3 md:mt-4">ERROR???????????</p>
    </div>

    <div class="hidden flex-col items-center justify-center" data-on-success>
      <Icon name="humbleicons:check" class="text-green3 h-28 w-28 md:h-36 md:w-36" />
      <p class="mt-1 text-3xl sm:mt-3 md:mt-4" data-fetch-success>SUCCESS!!!!!!!!!!!!</p>
    </div>

    <button
      class="bg-rosewater absolute bottom-[5%] left-[50%] h-14 w-[90%] -translate-x-[50%] cursor-pointer rounded-lg text-xl md:text-2xl"
      data-contact-complete-modal-close-button>Confirm</button
    >
  </div>
</Modal>

<script>
  import { isModalOpenStore } from "../../common/stores";
  const contactCompletModalCloseButton = document.querySelector("[data-contact-complete-modal-close-button]");

  const textOnError = document.querySelector("[data-on-error]");
  const textOnSuccess = document.querySelector("[data-on-success]");
  // textOnError?.classList.remove("hidden");
  // textOnError?.classList.add("flex");
  textOnSuccess?.classList.remove("hidden");
  textOnSuccess?.classList.add("flex");

  contactCompletModalCloseButton?.addEventListener("click", () => {
    const previousStore = isModalOpenStore.get();
    isModalOpenStore.set({
      ...previousStore,
      "contact-complete": false,
    });
  });
</script>
