---
import Modal from "../../layouts/Modal.astro";
import { Icon } from "astro-icon/components";
---

<Modal modalName="contact-process">
  <div
    id="contact-process"
    class="mx-6 flex aspect-square w-full flex-col items-center justify-center gap-5 rounded-4xl border-4 md:mx-0 md:max-h-[42rem] md:max-w-[42rem]"
  >
    <Icon
      name="zondicons:hour-glass"
      class="text-rosewater h-16 w-16 sm:h-28 sm:w-28 md:h-36 md:w-36"
      data-process-modal-hour-glass
    />
    <p class="text-4xl sm:text-5xl md:text-6xl">Processing...</p>
  </div>
</Modal>
