---
import Modal from "../../layouts/Modal.astro";
import { menus } from "../../common/htmlElements";
import type { Languages } from "../../common/types";
const { language } = Astro.params as { language: Languages };
---

<Modal>
  <nav id="nav-in-modal">
    <ul class="flex flex-col gap-4">
      {
        (Object.keys(menus) as (keyof typeof menus)[]).map((item) => (
          <li class="text-rosewater text-3xl font-bold">
            <a class="no-underline" href={`/${language}${menus[item]["href"]}`}>
              {menus[item][language]}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</Modal>
