---
import { routes } from "../../common/variables";
import Modal from "../../layouts/Modal.astro";
const { language } = Astro.params;
---

<Modal>
  <nav id="nav-in-modal">
    <ul class="flex flex-col gap-4">
      {
        routes.map((route) => (
          <li class="text-rosewater text-4xl font-bold">
            <h2>
              <a class="no-underline" href={`/${language}/${route.url}`}>
                {route.name}
              </a>
            </h2>
          </li>
        ))
      }
    </ul>
  </nav>
</Modal>
