---
import Modal from "../../layouts/Modal.astro";
import { Icon } from "astro-icon/components";
---

<Modal modalName="contact-process">
  <div id="contact-process">
    <Icon name="zondicons:hour-glass" class="h-full w-full" data-process-modal-hour-glass />
    <p>Processing.....</p>
  </div>
</Modal>
