---
import { getEntry, render } from "astro:content";
import RootLayout from "../../../layouts/RootLayout.astro";
const { slug } = Astro.params as { slug: string };

const entry = await getEntry("blog", slug as string);

if (!entry) {
  throw new Error("no entry");
}

const { Content } = await render(entry);
---

<RootLayout>
  <h1>this is a blog post</h1>
  <Content />
</RootLayout>

<style is:global>
  p {
    border: 1px solid #fff;
  }
</style>
