---
import { getEntry, render } from "astro:content";
import RootLayout from "../../../layouts/RootLayout.astro";

import Prose from "../../../layouts/Prose.astro";
import { tags } from "../../../common/types";
import type { Languages, TagKey } from "../../../common/types";
import { collectionMap } from "../../../common/types";
import { isStringLanguage } from "../../../common/functions";
const { slug } = Astro.params as { slug: string };
const { language } = Astro.params as { language: Languages };

const entry = await getEntry(collectionMap[language], slug);
const tagKeys = entry?.data.tags as string[];

let tagsArray: any[] = [];

tagKeys.forEach((tagName) => {
  (Object.keys(tags) as TagKey[]).forEach((tagNameInObject) => {
    if (tags[tagNameInObject][language] === tagName) {
      tagsArray.push(tags[tagNameInObject]);
    }
  });
});

if (!entry) {
  throw new Error("no entry");
}

if (!isStringLanguage(language)) {
  return new Response(null, { status: 404 });
}

const { Content } = await render(entry);
---

<RootLayout language={language}>
  <Prose>
    <a href=`/${language}/blog/` class="text-green2 dark:text-rosewater no-underline">to blog main page</a>
    <ul class="flex gap-4 p-0">
      {
        tagsArray.map((tag) => (
          <li class="flex list-none items-center justify-center border-4 p-1">
            <a href={`/${language}/tag/${tag["en"].toLowerCase()}`}>{tag[language]}</a>
          </li>
        ))
      }
    </ul>
    <Content />
  </Prose>
</RootLayout>
