---
import type { GetStaticPaths } from 'astro';
import Layout from '../../../layouts/Layout.astro';
import { languagesParams } from '../../../common/variables';

export const getStaticPaths = (() => {
	return languagesParams;
}) satisfies GetStaticPaths;
---

<Layout>
	<p>This is blog page</p>
</Layout>
