---
import type { GetStaticPaths } from "astro";
import RootLayout from "../../../layouts/RootLayout.astro";
import { languagesParams } from "../../../common/variables";

export const getStaticPaths = (() => {
  return languagesParams;
}) satisfies GetStaticPaths;
---

<RootLayout>
  <p>This is blog page</p>
</RootLayout>
