---
import Modal from "../../../layouts/Modal.astro";
import { Icon } from "astro-icon/components";
import type { Languages } from "../../../common/types";
import { fetchErrorModal } from "../../../common/htmlElements";
const { language } = Astro.params as { language: Languages };
---

<Modal modalName="fetch-error">
  <div
    id="fetch-processing"
    class="relative mx-6 flex aspect-square max-h-[24rem] w-full max-w-[24rem] flex-col items-center justify-center gap-5 rounded-4xl border-4"
  >
    <div class="flex flex-col items-center justify-center" data-on-error>
      <Icon name="fa7-regular:face-surprise" class="h-28 w-28 text-orange-600" />
      <p class="mt-2 text-2xl">{fetchErrorModal[language]["text"]}</p>
      <p class="text-2xl">{fetchErrorModal[language]["contact"]}</p>
    </div>

    <button
      class="bg-rosewater absolute bottom-[5%] left-[50%] h-12 w-[90%] -translate-x-[50%] cursor-pointer rounded-lg text-xl md:text-2xl"
      data-fetch-success-modal-close-button>{fetchErrorModal[language]["confirm"]}</button
    >
  </div>
</Modal>

<script>
  import { fetchErrorModalStore } from "../../../common/stores";
  const contactCompletModalCloseButton = document.querySelector("[data-fetch-success-modal-close-button]");

  contactCompletModalCloseButton?.addEventListener("click", () => {
    fetchErrorModalStore.set(false);
  });
</script>
