<button id="openDialog">Open</button>
<script>
	import { isModalOpenStore } from '../common/stores';

	function openDialog() {
		const isModalOpen = isModalOpenStore.get();
		isModalOpenStore.set(!isModalOpen);
	}

	document.getElementById('openDialog')!.addEventListener('click', openDialog);
</script>
