<button id="openModal">Open</button>
<script>
	import { isModalOpenStore } from '../common/stores';

	function openModal() {
		const isModalOpen = isModalOpenStore.get();
		isModalOpenStore.set(!isModalOpen);
	}

	document.getElementById('openModal')!.addEventListener('click', openModal);
</script>
