---
import { menus } from "../common/htmlElements";
import type { Languages } from "../common/types";
const { language } = Astro.props as { language: Languages };
---

<footer class="flex items-center justify-center">
  <ul class="text-rosewater flex gap-3 text-xs font-bold">
    {
      (Object.keys(menus) as (keyof typeof menus)[])
        .filter((item) => menus[item][language] !== menus["main"][language])
        .map((item) => (
          <li
            class={`transition-text dark:text-rosewater after:bg-green2 dark:after:bg-rosewater text-green2 relative overflow-hidden after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full ${Astro.url.pathname.split("/")[2] === item || (Astro.url.pathname.split("/")[2] === "tags" && item === "blog") ? null : "after:-translate-x-full after:duration-200 hover:after:translate-x-0"}`}
          >
            <a class="no-underline" href={`/${language}${menus[item]["href"]}`}>
              {menus[item][language]}
            </a>
          </li>
        ))
    }
  </ul>
</footer>
