---
import { routes } from "../common/variables";
const { language } = Astro.params;
---

<footer class="flex items-center justify-center">
  <ul class="text-rosewater flex gap-3 text-base font-bold md:gap-4">
    {
      routes.map((route) => (
        <li class="transition-text hover:text-gray3 text-sm duration-300 md:text-base">
          <h2>
            <a class="no-underline" href={`/${language}/${route.url}`}>
              {route.name}
            </a>
          </h2>
        </li>
      ))
    }
  </ul>
</footer>
