<button
  id="hamburger"
  class="absolute top-1/2 right-0 z-100 flex h-8 w-10 -translate-y-1/2 cursor-pointer transition-all md:hidden [&.active>div>span:nth-child(1)]:opacity-0 [&.active>div>span:nth-child(2)]:rotate-45 [&.active>div>span:nth-child(3)]:-rotate-45 [&.active>div>span:nth-child(4)]:opacity-0"
>
  <div class="relative h-full w-full">
    <span
      class="bg-rosewater absolute top-0 right-0 inline-block h-1 w-full origin-center transition-all duration-200"
    ></span>
    <span
      class="bg-rosewater absolute top-1/2 right-0 inline-block h-1 w-full origin-center -translate-y-1/2 transform transition-all duration-200"
    ></span>
    <span
      class="bg-rosewater absolute top-1/2 right-0 inline-block h-1 w-full origin-center -translate-y-1/2 transform opacity-100 transition-all duration-200"
    ></span>
    <span
      class="bg-rosewater absolute right-0 bottom-0 inline-block h-1 w-full origin-center transition-all duration-200"
    ></span>
  </div>
</button>

<script>
  import { isModalOpenStore } from "../common/stores";
  const hamburgerElement = document.querySelector("#hamburger") as HTMLElement;

  function toggleModal() {
    isModalOpenStore.set({
      ...isModalOpenStore.get(),
      nav: !isModalOpenStore.get().nav,
    });
  }
  hamburgerElement.addEventListener("click", toggleModal);

  isModalOpenStore.subscribe((isNavOpen) =>
    isNavOpen.nav
      ? hamburgerElement.classList.add("active")
      : hamburgerElement.classList.remove("active"),
  );
</script>
