---

---

<header class="flex justify-between max-w-7xl mx-auto pt-4">
	<h1 class="text-rosewater font-bold text-5xl">
		<a href="/" class="no-underline align-text-top"> Dug's Blog</a>
	</h1>

	<nav class="flex items-center">
		<ul class="flex text-3xl gap-5">
			<li class="hover:text-rosewater transition-text duration-300">
				<a class="no-underline" href="#">About</a>
			</li>
			<li class="hover:text-rosewater transition-text duration-300">
				<a class="no-underline" href="#">Projects</a>
			</li>
			<li class="hover:text-rosewater transition-text duration-300">
				<a class="no-underline" href="#">Blog</a>
			</li>
			<li class="hover:text-rosewater transition-text duration-300">
				<a class="no-underline" href="#">Contact</a>
			</li>
			<li class="hover:text-rosewater transition-text duration-300">
				<a class="no-underline" href="#">Guestbook</a>
			</li>
		</ul>
	</nav>
</header>
