---

---

<header>
	<h1>
		<a href="/"> Dug's Blog</a>
	</h1>

	<nav>
		<ul>
			<li>
				<a href="#">About</a>
			</li>
			<li>
				<a href="#">Projects</a>
			</li>
			<li>
				<a href="#">Blog</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
			<li>
				<a href="#">Guestbook</a>
			</li>
		</ul>
	</nav>
</header>

<style lang="scss">
	header {
		display: flex;
		justify-content: space-between;
	}

	nav {
		ul {
			display: flex;
		}
	}
</style>
