---
import Hamburger from "./Hamburger.astro";
import { logoInfo, menuInfo } from "../common/html-elements";
import type { Languages } from "../common/types";
const { language } = Astro.params as { language: Languages };
---

<header
  class="bg-green1 fixed top-0 left-0 z-20 w-full px-5 py-4 md:static md:w-full md:px-0"
>
  <div class="relative justify-between md:flex">
    <h1
      class="text-rosewater md:hover:text-gray3 text-5xl leading-none font-extrabold duration-200"
    >
      <a
        href={`/${language}/${logoInfo["href"]}`}
        class="leading-none no-underline">{logoInfo[language]}</a
      >
    </h1>
    <nav class="flex items-center">
      <ul
        class="text-rosewater hidden gap-3 text-2xl font-bold md:flex lg:gap-4 lg:text-3xl"
      >
        {
          (Object.keys(menuInfo) as (keyof typeof menuInfo)[]).map((item) => (
            <li class="transition-text md:hover:text-gray3 duration-200">
              <a
                class="no-underline"
                href={`/${language}${menuInfo[item]["href"]}`}
              >
                {menuInfo[item][language]}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <Hamburger />
  </div>
</header>
