---
import Hamburger from "./Hamburger.astro";
import { pageTitles, menus } from "../common/htmlElements";
import type { Languages } from "../common/types";
const { language } = Astro.props as { language: Languages };
---

<header class="bg-green1 fixed top-0 left-0 z-10 w-full px-5 py-4 md:static md:w-full md:px-0">
  <div class="relative justify-between md:flex">
    <h1 class="text-rosewater md:hover:text-gray3 text-3xl leading-none duration-200 lg:text-4xl">
      <a href={`/${language}/`} class="leading-none font-extrabold no-underline">{pageTitles["main"][language]}</a>
    </h1>
    <nav class="flex items-center">
      <ul class="hidden gap-3 text-xl font-bold md:flex">
        {
          (Object.keys(menus) as (keyof typeof menus)[])
            .filter((item) => menus[item][language] !== menus["main"][language])
            .map((item) => (
              <li
                class={`transition-text md:hover:text-gray3 duration-200 ${Astro.url.pathname.split("/")[2] === item ? "text-white" : "text-rosewater"}`}
              >
                <a class="no-underline" href={`/${language}${menus[item]["href"]}`}>
                  {menus[item][language]}
                </a>
              </li>
            ))
        }
      </ul>
    </nav>
    <Hamburger position="absolute" top="top-1/2" right="right-0" language={language} />
  </div>
</header>
