---

---

<header class="flex justify-between pt-4">
	<h1 class="text-rosewater font-extrabold text-5xl">
		<a href="/" class="no-underline align-text-top"> Dug's Blog</a>
	</h1>

	<nav class="flex items-center">
		<ul class="flex text-3xl gap-5 text-rosewater font-bold">
			<li class="transition-text hover:text-gray3 duration-300">
				<a class="no-underline" href="#">About</a>
			</li>
			<li class="transition-text hover:text-gray3 duration-300">
				<a class="no-underline" href="#">Projects</a>
			</li>
			<li class="transition-text hover:text-gray3 duration-300">
				<a class="no-underline" href="#">Blog</a>
			</li>
			<li class="transition-text hover:text-gray3 duration-300">
				<a class="no-underline" href="#">Contact</a>
			</li>
			<li class="transition-text hover:text-gray3 duration-300">
				<a class="no-underline" href="#">Guestbook</a>
			</li>
		</ul>
	</nav>
</header>
