---
import { routes } from "../common/variables";
import Hamburger from "./Hamburger.astro";
const { language } = Astro.params;
---

<header
  class="bg-green1 fixed top-0 left-0 z-20 w-full px-5 py-4 md:static md:w-full md:px-0"
>
  <div class="relative justify-between md:flex">
    <h1 class="text-rosewater text-5xl leading-none font-extrabold">
      <a href="/en" class="leading-none no-underline">Dug's Blog</a>
    </h1>
    <nav class="flex items-center">
      <ul
        class="text-rosewater hidden gap-3 text-2xl font-bold md:flex lg:gap-4 lg:text-3xl"
      >
        {
          routes.map((route) => (
            <li class="transition-text hover:text-gray3 duration-300">
              <h2>
                <a class="no-underline" href={`/${language}/${route.url}`}>
                  {route.name}
                </a>
              </h2>
            </li>
          ))
        }
      </ul>
    </nav>
    <Hamburger />
  </div>
</header>
