---
import Hamburger from "./Hamburger.astro";
import { pageTitles, menus } from "../common/htmlElements";
import type { Languages } from "../common/types";
const { language } = Astro.props as { language: Languages };
---

<header class="py-2">
  <div class="relative justify-between md:flex">
    <h1 class="dark:text-rosewater text-green2 text-3xl leading-none duration-200 lg:text-4xl">
      <a href={`/${language}/`} class="leading-none font-extrabold no-underline">{pageTitles["main"][language]}</a>
    </h1>
    <nav class="flex items-center">
      <ul class="hidden h-full gap-3 text-xl font-bold md:flex">
        {
          (Object.keys(menus) as (keyof typeof menus)[])
            .filter((item) => menus[item][language] !== menus["main"][language])
            .map((item) => (
              <li
                class={`transition-text dark:text-rosewater text-green2 dark:after:bg-rosewater after:bg-green2 relative h-full overflow-hidden after:absolute after:bottom-[2px] after:left-0 after:h-[2px] after:w-full ${Astro.url.pathname.split("/")[2] === item ? null : "after:-translate-x-full after:duration-200 hover:after:translate-x-0"}`}
              >
                <a class="flex h-full items-center no-underline" href={`/${language}${menus[item]["href"]}`}>
                  {menus[item][language]}
                </a>
              </li>
            ))
        }
      </ul>
    </nav>
    <Hamburger position="absolute" top="top-1/2" right="right-0" language={language} />
  </div>
</header>
