---
import { routes } from "../common/variables";
import ModalOpenButton from "./ModalOpenButton.astro";
const { language } = Astro.params;
---

<header class="flex justify-between">
  <h1 class="text-rosewater text-5xl leading-none font-extrabold">
    <a href="/en" class="inline-block leading-none no-underline"> Dug's Blog</a>
  </h1>

  <nav class="flex items-center">
    <ul
      class="text-rosewater hidden gap-3 text-2xl font-bold md:flex lg:gap-4 lg:text-3xl"
    >
      {
        routes.map((route) => (
          <li class="transition-text hover:text-gray3 duration-300">
            <h2>
              <a class="no-underline" href={`/${language}/${route.url}`}>
                {route.name}
              </a>
            </h2>
          </li>
        ))
      }
    </ul>
    <ModalOpenButton />
  </nav>
</header>
