---
import { Icon } from "astro-icon/components";
import { printPageUrlInMenuButton } from "../common/functions";

const languageArray = printPageUrlInMenuButton(Astro.url.pathname);
---

<div class="fixed right-[10px] bottom-[10px] h-[75px] w-[75px] md:right-[20px] md:bottom-[20px]">
  <div class="relative h-full w-full">
    <button
      class="hover:text-green1 bg-green1 absolute top-[50%] left-[50%] h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer rounded-[50%] border-2 border-white p-2 duration-200 hover:bg-white"
      role="button"
      tabindex="0"
      aria-label="Toggle menu"
      data-menu-button
    >
      <div class="relative h-full w-full">
        <Icon
          class="absolute top-[50%] left-[50%] h-full w-full -translate-x-[50%] -translate-y-[50%] rounded-[50%]"
          name="tabler:list"
          data-menu-button-icon="to-open"
        />
        <Icon
          class="absolute top-[50%] left-[50%] hidden h-full w-full -translate-x-[50%] -translate-y-[50%] rounded-[50%]"
          name="tabler:x"
          data-menu-button-icon="to-close"
        />
      </div>
    </button>
    <div class="absolute top-[50%] left-[50%] z-[-10] h-full w-full -translate-x-[50%] -translate-y-[50%]">
      <div class="relative h-full w-full">
        <button
          class="pointer-events-none absolute top-[50%] left-[50%] flex h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer items-center justify-center transition-opacity"
          data-menu-button-menu
          data-menu-button-menu1
        >
          <p
            class="hover:text-green1 bg-green1 flex h-full w-full items-center justify-center rounded-[50%] border-2 border-white text-sm duration-200 hover:bg-white"
          >
            <a class="flex h-full w-full items-center justify-center" href={languageArray[0]["pageUrl"]}>
              {languageArray[0]["title"]}
            </a>
          </p>
        </button>
        <button
          class="pointer-events-none absolute top-[50%] left-[50%] flex h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer items-center justify-center transition-opacity"
          data-menu-button-menu
          data-menu-button-menu2
        >
          <p
            class="hover:text-green1 bg-green1 flex h-full w-full items-center justify-center rounded-[50%] border-2 border-white text-sm duration-200 hover:bg-white"
          >
            <a class="flex h-full w-full items-center justify-center" href={languageArray[1]["pageUrl"]}>
              {languageArray[1]["title"]}
            </a>
          </p>
        </button>
        <button
          class="pointer-events-none absolute top-[50%] left-[50%] flex h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer items-center justify-center transition-opacity"
          data-menu-button-menu
          data-menu-button-menu3
        >
          <p
            class="hover:text-green1 bg-green1 flex h-full w-full items-center justify-center rounded-[50%] border-2 border-white p-4 duration-200 hover:bg-white"
          >
            <Icon name="cil:sun" class="h-full w-full" />
          </p>
        </button>
        <button
          class="pointer-events-none absolute top-[50%] left-[50%] flex h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer items-center justify-center transition-opacity"
          data-menu-button-menu
          data-menu-button-menu4
          data-menu-to-top
        >
          <p
            class="hover:text-green1 bg-green1 flex h-full w-full items-center justify-center rounded-[50%] border-2 border-white p-4 duration-200 hover:bg-white"
          >
            <Icon name="cil:arrow-top" class="h-full w-full" />
          </p>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, ScrollToPlugin, SplitText);

  let isMenuButtonOpen = false;

  const menuButton = document.querySelector("[data-menu-button]") as HTMLElement;

  const menuButtonMenuElements = document.querySelectorAll("[data-menu-button-menu]");

  const buttonsPosition = [
    { x: -100, y: 0 },
    { x: -180, y: 0 },
    { x: -75, y: -75 },
    { x: 0, y: -100 },
  ];

  const openMenuTimeline = gsap.timeline({ paused: true });

  menuButtonMenuElements.forEach((element, i) => {
    openMenuTimeline.to(
      `[data-menu-button-menu${i + 1}]`,
      {
        x: buttonsPosition[i].x,
        y: buttonsPosition[i].y,
        opacity: 1,
        pointerEvents: "auto",
        duration: 0.3,
        ease: "none",
      },
      0,
    );
  });

  const updateMenuIcons = () => {
    !isMenuButtonOpen ? openMenuTimeline.restart() : openMenuTimeline.reverse();
    isMenuButtonOpen = !isMenuButtonOpen;
  };

  menuButton.addEventListener("click", (event) => {
    updateMenuIcons();
  });

  document.querySelector("[data-menu-to-top]")?.addEventListener("click", () => {
    isUserScrolling = false;
    gsap.to(window, {
      scrollTo: 0,
      ease: "power2.out",
      onComplete: () => {
        isUserScrolling = true;
      },
    });
  });

  let isUserScrolling = true;
  let lastScrollTime = 0;
  const throttleDelay = 1000; // run at most once every 200ms
  window.addEventListener("scroll", (e) => {
    if (!isUserScrolling) return;
    const now = Date.now();
    if (now - lastScrollTime >= throttleDelay) {
      if (isMenuButtonOpen) {
        isMenuButtonOpen = false;
        openMenuTimeline.reverse();
      }
      lastScrollTime = now;
    }
  });
</script>
