---
import { Icon } from 'astro-icon/components';
---

<div class="menu-button" data-menu-button>
	<button class="menu-button__buttons">
		<Icon class="menu-button__buttons__button active" name="tabler:list" data-menu-button-icon="to-open" />
		<Icon class="menu-button__buttons__button" name="tabler:x" data-menu-button-icon="to-close" />
	</button>
	<div class="menu-button__menus">
		<p class="menu-button__menus__menu menu1" data-menu-button-menu>menu1</p>
		<p class="menu-button__menus__menu menu2" data-menu-button-menu>menu2</p>
		<p class="menu-button__menus__menu menu3" data-menu-button-menu>menu3</p>
	</div>
</div>

<script>
	const menuButton = document.querySelector('[data-menu-button]');
	const iconsInMenuButton = document.querySelectorAll('[data-menu-button-icon]');
	const menuOpenIconInMenuButton = document.querySelector('[data-menu-button-icon="to-open"]');
	const menuCloseIconInMenuButton = document.querySelector('[data-menu-button-icon="to-close"]');

	const buttonToggler = (boolean: boolean | null) => {
		if (menuOpenIconInMenuButton && menuCloseIconInMenuButton && iconsInMenuButton && menuButton) {
			iconsInMenuButton.forEach((element) => {
				element.classList.remove('active');
			});
			if (boolean === null) {
				menuButton.classList.toggle('active');
				if (menuButton.classList.contains('active')) {
					menuCloseIconInMenuButton.classList.add('active');
				} else {
					menuOpenIconInMenuButton.classList.add('active');
				}
			} else if (boolean === true) {
				menuButton.classList.add('active');
				menuCloseIconInMenuButton.classList.add('active');
			} else if (boolean === false) {
				menuButton.classList.remove('active');
				menuOpenIconInMenuButton.classList.add('active');
			}
		}
	};
	menuButton && menuButton.addEventListener('click', () => buttonToggler(null));
</script>

<style lang="scss">
	.menu-button {
		position: fixed;
		width: 150px;
		height: 150px;
		bottom: 100px;
		right: 100px;
		border-radius: 50%;
		transition: 0.2s linear all;
		&__buttons {
			display: flex;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 150px;
			height: 150px;
			font-size: 30px;
			justify-content: center;
			align-items: center;
			border: 1px solid black;
			border-radius: 50%;
			opacity: 1;
			transform: translate(-50%, -50%);
			transition: 0.3s all linear;
			z-index: -1;
			cursor: pointer;
			&__button {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100px;
				height: 100px;
				opacity: 0;
				transform: translate(-50%, -50%);
				transition: 0.3s all linear;
				&.active {
					opacity: 1;
				}
			}
		}
		&__menus {
			&__menu {
				position: absolute;
				display: flex;
				width: fit-content;
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				border: 1px solid black;
				font-size: 30px;
				left: 50%;
				top: 50%;
				opacity: 0;
				cursor: pointer;
				transform: translate(-50%, -50%);
				transition: all 0.3s linear;
			}
		}
		&.active {
			.menu-button__menus__menu {
				opacity: 1;
				&.menu1 {
					top: -50%;
				}
				&.menu2 {
					top: -25%;
					left: -25%;
				}
				&.menu3 {
					left: -50%;
				}
			}
		}
	}
</style>
