---
import { Icon } from "astro-icon/components";
import { printPageUrlInMenuButton } from "../common/functions";

const languageArray = printPageUrlInMenuButton(Astro.url.pathname);
---

<div class="fixed right-[5px] bottom-[5px] h-[50px] w-[50px] md:right-[20px] md:bottom-[20px]">
  <div class="relative h-full w-full">
    <button
      class="dark:hover:text-green1 bg-rosewater dark:bg-green1 border-green2 dark:border-gray3 hover:text-gray3 hover:bg-green2 dark:hover:bg-gray3 dark:text-gray3 dark:hover:text-2 text-green2 absolute top-[50%] left-[50%] h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer rounded-[50%] border-2 p-2 duration-200"
      role="button"
      tabindex="0"
      aria-label="Toggle menu"
      data-menu-button
    >
      <div class="relative h-full w-full">
        <Icon
          class="absolute top-[50%] left-[50%] h-full w-full -translate-x-[50%] -translate-y-[50%] rounded-[50%]"
          name="tabler:list"
          data-menu-button-icon="to-open"
        />
        <Icon
          class="absolute top-[50%] left-[50%] hidden h-full w-full -translate-x-[50%] -translate-y-[50%] rounded-[50%]"
          name="tabler:x"
          data-menu-button-icon="to-close"
        />
      </div>
    </button>
    <div class="absolute top-[50%] left-[50%] z-[-10] h-full w-full -translate-x-[50%] -translate-y-[50%]">
      <div class="relative h-full w-full">
        <button
          class="pointer-events-none absolute top-[50%] left-[50%] flex h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer items-center justify-center transition-opacity"
          data-menu-button-position="1"
          data-menu-language-route
        >
          <p
            class="dark:hover:text-green1 bg-rosewater dark:bg-green1 border-green2 dark:border-gray3 hover:text-gray3 hover:bg-green2 dark:hover:bg-gray3 text-green2 dark:text-gray3 dark:hover:text-2 flex h-full w-full items-center justify-center rounded-[50%] border-2 text-sm duration-200"
          >
            <a class="flex h-full w-full items-center justify-center" href={languageArray[0]["pageUrl"]}>
              {languageArray[0]["title"]}
            </a>
          </p>
        </button>
        <button
          class="pointer-events-none absolute top-[50%] left-[50%] flex h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer items-center justify-center transition-opacity"
          data-menu-button-position="2"
          data-menu-language-route
        >
          <p
            class="dark:hover:text-green1 bg-rosewater dark:bg-green1 border-green2 dark:border-gray3 hover:text-gray3 hover:bg-green2 dark:hover:bg-gray3 text-green2 dark:text-gray3 dark:hover:text-2 flex h-full w-full items-center justify-center rounded-[50%] border-2 text-sm duration-200"
          >
            <a class="flex h-full w-full items-center justify-center" href={languageArray[1]["pageUrl"]}>
              {languageArray[1]["title"]}
            </a>
          </p>
        </button>
        <button
          class="pointer-events-none absolute top-[50%] left-[50%] flex h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer items-center justify-center transition-opacity"
          data-menu-button-position="3"
          data-menu-toggle-darkmode
        >
          <p
            class="dark:hover:text-green1 bg-rosewater dark:bg-green1 border-green2 dark:border-gray3 hover:text-gray3 hover:bg-green2 dark:hover:bg-gray3 text-green2 dark:text-gray3 dark:hover:text-2 flex h-full w-full items-center justify-center rounded-[50%] border-2 p-3 duration-200"
          >
            <Icon name="cil:sun" class="hidden h-full w-full dark:block" />
            <Icon name="cil:moon" class="h-full w-full dark:hidden" />
          </p>
        </button>
        <button
          class="pointer-events-none absolute top-[50%] left-[50%] flex h-full w-full -translate-x-[50%] -translate-y-[50%] cursor-pointer items-center justify-center transition-opacity"
          data-menu-button-position="4"
          data-menu-to-top
        >
          <p
            class="dark:hover:text-green1 bg-rosewater dark:bg-green1 dark:text-gray3 dark:hover:text-2 text-green2 border-green2 dark:border-gray3 hover:text-gray3 hover:bg-green2 dark:hover:bg-gray3 flex h-full w-full items-center justify-center rounded-[50%] border-2 p-3 duration-200"
          >
            <Icon name="cil:arrow-top" class="h-full w-full" />
          </p>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(ScrollTrigger, ScrollToPlugin, SplitText);

  let isMenuButtonOpen = false;

  const menuButton = document.querySelector("[data-menu-button]") as HTMLElement;

  const menuButtonMenuElements = document.querySelectorAll("[data-menu-button-position]");

  const buttonsPosition = [
    { x: -70, y: 0 },
    { x: -125, y: 0 },
    { x: -45, y: -45 },
    { x: 0, y: -70 },
  ];

  const openMenuTimeline = gsap.timeline({ paused: true });

  menuButtonMenuElements.forEach((element, i) => {
    openMenuTimeline.to(
      element,
      {
        x: buttonsPosition[i].x,
        y: buttonsPosition[i].y,
        opacity: 1,
        pointerEvents: "auto",
        duration: 0.3,
        ease: "none",
      },
      0,
    );
  });

  const updateMenuIcons = () => {
    const iconWhenMenuIsOpen = document.querySelector("[data-menu-button-icon='to-open']");
    const iconWhenMenuIsClose = document.querySelector("[data-menu-button-icon='to-close']");
    if (!isMenuButtonOpen) {
      iconWhenMenuIsOpen?.classList.add("hidden");
      iconWhenMenuIsClose?.classList.remove("hidden");
      iconWhenMenuIsClose?.classList.add("block");
      openMenuTimeline.restart();
      isMenuButtonOpen = true;
    } else {
      iconWhenMenuIsClose?.classList.add("hidden");
      iconWhenMenuIsOpen?.classList.remove("hidden");
      iconWhenMenuIsOpen?.classList.add("block");
      openMenuTimeline.reverse();
      isMenuButtonOpen = false;
    }
  };

  menuButton.addEventListener("click", (event) => {
    updateMenuIcons();
  });

  document.querySelector("[data-menu-to-top]")?.addEventListener("click", () => {
    isUserScrolling = false;
    gsap.to(window, {
      scrollTo: 0,
      ease: "power2.out",
      onComplete: () => {
        isUserScrolling = true;
      },
    });
  });

  let isUserScrolling = true;
  let lastScrollTime = 0;
  const throttleDelay = 1000; // run at most once every 200ms
  window.addEventListener("scroll", (e) => {
    if (!isUserScrolling) return;
    const now = Date.now();
    if (now - lastScrollTime >= throttleDelay) {
      if (isMenuButtonOpen) {
        updateMenuIcons();
      }
      lastScrollTime = now;
    }
  });

  const toggleThemeButton = document.querySelector("[data-menu-toggle-darkmode]");
  toggleThemeButton?.addEventListener("click", () => {
    const htmlElement = document.querySelector("html") as HTMLElement;
    const htmlTheme = htmlElement.dataset.theme;
    if (htmlTheme === "light") {
      htmlElement.setAttribute("data-theme", "dark");
      localStorage.setItem("dugsblog-theme", "dark");
    } else {
      htmlElement.setAttribute("data-theme", "light");
      localStorage.setItem("dugsblog-theme", "light");
    }
  });
</script>
