<p id="test-text" class="w-full h-full absolute top-0 left-0 bg-black opacity-50 z-10">test texttttttttttt</p>
<script>
	import { isModalOpenStore } from '../common/stores';

	isModalOpenStore.subscribe((open) => {
		if (open) {
			document.getElementById('test-text')!.style.color = 'green';
		} else {
			document.getElementById('test-text')!.style.color = 'yellow';
		}
	});
</script>
