<p id="test-text" class="w-full h-full absolute top-0 left-0 bg-black opacity-50 z-10 flex justify-center items-center">
	<button id="openModal2" class="z-20 relative">asdasdasd</button>
</p>
<script>
	import { isModalOpenStore } from '../common/stores';

	isModalOpenStore.subscribe((open) => {
		if (open) {
			(document.querySelector('#test-text') as HTMLElement).style.display = 'block';
		} else {
			(document.querySelector('#test-text') as HTMLElement).style.display = 'none';
		}
	});

	function openModal() {
		const isModalOpen = isModalOpenStore.get();
		isModalOpenStore.set(!isModalOpen);
	}

	(document.querySelector('#test-text') as HTMLElement).style.display = 'none';
	document.getElementById('openModal2')!.addEventListener('click', openModal);
</script>
