<p id="test-text" class="w-full h-full absolute top-0 left-0 bg-black opacity-50 z-10 flex justify-center items-center">
	<button id="openModal2" class="z-20 relative">asdasdasd</button>
</p>
<script>
	import { isModalOpenStore } from '../common/stores';

	function openModal() {
		const isModalOpen = isModalOpenStore.get();
		isModalOpenStore.set(!isModalOpen);
	}

	document.getElementById('openModal2')!.addEventListener('click', openModal);
</script>
