---
import { Icon } from 'astro-icon/components';
---

<div class="nav-button" data-nav-button>
	<button class="nav-button__buttons">
		<Icon class="nav-button__buttons__button active" name="tabler:list" data-nav-button-icon="to-open" />
		<Icon class="nav-button__buttons__button" name="tabler:x" data-nav-button-icon="to-close" />
	</button>
	<div class="nav-button__menus">
		<p class="nav-button__menus__menu menu1" data-nav-button-menu>menu1</p>
		<p class="nav-button__menus__menu menu2" data-nav-button-menu>menu2</p>
		<p class="nav-button__menus__menu menu3" data-nav-button-menu>menu3</p>
	</div>
</div>

<script>
	const navButton = document.querySelector('[data-nav-button]');
	const menusInNavButton = document.querySelectorAll('[data-nav-button-menu]');
	const iconsInNavButton = document.querySelectorAll('[data-nav-button-icon]');
	const navOpenIconInNavButton = document.querySelector('[data-nav-button-icon="to-open"]');
	const navCloseIconInNavButton = document.querySelector('[data-nav-button-icon="to-close"]');

	const buttonToggler = (boolean: boolean | null) => {
		if (navOpenIconInNavButton && navCloseIconInNavButton && iconsInNavButton && navButton) {
			iconsInNavButton.forEach((element) => {
				element.classList.remove('active');
			});

			if (boolean === null && navButton) {
				navButton.classList.toggle('active');
				if (navButton.classList.contains('active')) {
					navCloseIconInNavButton.classList.add('active');
				} else {
					navOpenIconInNavButton.classList.add('active');
				}
				return;
			}

			if (boolean) {
				navButton.classList.add('active');
				navCloseIconInNavButton.classList.add('active');
			} else {
				navButton.classList.remove('active');
				navOpenIconInNavButton.classList.add('active');
			}
		}
	};

	navButton!.addEventListener('click', () => buttonToggler(null));

	menusInNavButton.forEach((button) => {
		button.addEventListener('click', () => {
			buttonToggler(false);
		});
	});
</script>

<style lang="scss">
	.nav-button {
		position: fixed;
		width: 150px;
		height: 150px;
		bottom: 100px;
		right: 100px;
		border-radius: 50%;
		transition: 0.2s linear all;
		&__buttons {
			display: flex;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 150px;
			height: 150px;
			font-size: 30px;
			justify-content: center;
			align-items: center;
			border: 1px solid black;
			border-radius: 50%;
			opacity: 1;
			transform: translate(-50%, -50%);
			transition: 0.3s all linear;
			z-index: -1;
			cursor: pointer;
			&__button {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100px;
				height: 100px;
				opacity: 0;
				transform: translate(-50%, -50%);
				transition: 0.3s all linear;
				&.active {
					opacity: 1;
				}
			}
		}
		&__menus {
			&__menu {
				position: absolute;
				display: flex;
				width: fit-content;
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				border: 1px solid black;
				font-size: 30px;
				left: 50%;
				top: 50%;
				opacity: 0;
				cursor: pointer;
				transform: translate(-50%, -50%);
				transition: all 0.3s linear;
			}
		}
		&.active {
			.nav-button__menus__menu {
				opacity: 1;
				&.menu1 {
					top: -50%;
				}
				&.menu2 {
					top: -25%;
					left: -25%;
				}
				&.menu3 {
					left: -50%;
				}
			}
		}
	}
</style>
