@use "sass:math";

.blob {
  position: absolute;
  top: math.random() * 90%;
  left: math.random() * 70%;
  width: 550px;
  aspect-ratio: 1/1;
  background: linear-gradient(
    rgba(math.random() * 255, math.random() * 255, math.random() * 255, math.random()) 0%,
    rgba(math.random() * 255, math.random() * 255, math.random() * 255, math.random()) 40%,
    rgba(math.random() * 255, math.random() * 255, math.random() * 255, math.random()) 100%
  );
  z-index: 0;
  opacity: 0.8;
  z-index: 0;
  border-radius: (math.random() * 10% math.random() * 70% math.random() * 70% math.random() * 30%)/
    (math.random() * 30% math.random() * 40% math.random() * 70% math.random() * 70%);
  user-select: none;
  filter: blur(10px);
  animation:
    changeShape 50s linear infinite,
    rotateBlob 50s linear infinite,
    moveBlob 50s ease-in-out infinite;
}

@keyframes rotateBlob {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveBlob {
  0%,
  100% {
    top: math.random() * 50%;
    left: math.random() * 70%;
  }
  25% {
    top: math.random() * 20%;
    left: math.random() * 40%;
  }
  50% {
    top: math.random() * 50%;
    left: math.random() * 60%;
  }
  75% {
    top: math.random() * 90%;
    left: math.random() * 20%;
  }
}

@keyframes changeShape {
  0%,
  100% {
    border-radius: (math.random() * 30% 70% 50% 50%) / (30% 30% 70% math.random() * 70%);
  }
  25% {
    border-radius: (48% math.random() * 52% 85% 15%) / (84% 55% math.random() * 45% 16%);
  }
  50% {
    border-radius: (89% 11% math.random() * 12% 88%) / (12% math.random() * 55% 45% 88%);
  }
  75% {
    border-radius: (11% 89% 84% math.random() * 16%) / (math.random() * 19% 14% 86% 81%);
  }
}

@media (max-width: 768px) {
  .blob {
    width: 500px;
  }
}

@media (max-width: 640px) {
  .blob {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .blob {
    width: 200px;
    @keyframes moveBlob {
      0%,
      100% {
        transform: translate(math.random() * 20%, math.random() * 40%);
      }
      25% {
        transform: translate(math.random() * 80%, math.random() * 20%);
      }
      50% {
        transform: translate(math.random() * 62%, math.random() * 50%);
      }
      75% {
        transform: translate(math.random() * 15%, math.random() * 80%);
      }
    }
  }
}
