---
import Modal from "../../../layouts/Modal.astro";
import { Icon } from "astro-icon/components";
import type { Languages } from "../../../common/types";
const { language } = Astro.props as { language: Languages };
---

<Modal modalName="delete-message-error">
  <div
    id="delete-message-error"
    class="relative mx-6 flex w-full max-w-[28rem] flex-col gap-4 rounded-4xl border-4 p-5"
  >
    <div class="flex flex-col items-center justify-center" data-on-success>
      <Icon name="humbleicons:exclamation" class="h-28 w-28 text-red-500" />
      <p class="mt-3 text-3xl" data-delete-message-error>Please check password</p>
      <button
        class="bg-rosewater mt-3 h-14 w-full cursor-pointer rounded-lg text-xl"
        data-delete-message-error-modal-close-button>Confirm</button
      >
    </div>
  </div>
</Modal>

<script>
  import { isModalOpenStore } from "../../../common/stores";
  const contactCompletModalCloseButton = document.querySelector("[data-fetch-success-modal-close-button]");

  contactCompletModalCloseButton?.addEventListener("click", () => {
    const previousStore = isModalOpenStore.get();
    isModalOpenStore.set({
      ...previousStore,
      "delete-message-error": false,
    });
  });
</script>
