---
import Meta from "./Meta.astro";
import GoogleTagManagerHead from "./analytics/GoogleTagManagerHead.astro";
import OverlayScrolls from "./OverlayScrolls.astro";
import GoogleAnalytics from "./analytics/GoogleAnalytics.astro";
const { title } = Astro.props;
---

<head>
  <GoogleAnalytics />
  <GoogleTagManagerHead />
  <Meta />
  <OverlayScrolls />
  <title>{title}</title>
</head>
