---
import '../styles/global.css';
import MenuButton from '../components/MenuButton.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.10.1/browser/overlayscrollbars.browser.es6.min.js"
			integrity="sha512-bDTkSDb0/IRzL9tINJGwc2iQwmqVF3X9y7Doo7ZWvtfUM0y8Wuw1yqbYSPCBfVUBun64XIyPfXStDf9vc7cR8Q=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
			onload="OverlayScrollbarsGlobal.OverlayScrollbars(document.body, {})"
			defer></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/2.10.1/styles/overlayscrollbars.min.css"
			integrity="sha512-1upUL7mU0vRAdxf0hllx44X8k95N0hSFoljRxrCYLvqn7Ih2lGbzgrNTDpXUPnHo/m6lB7JZzteEy7IXHuJ/cw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<title>Astro Basics</title>
	</head>
	<body>
		<section id="body-wrapper" class="bg-green1">
			<section id="body-max-width-wrapper" class="text-gray3 font-en max-w-7xl mx-auto py-4">
				<Header />
				<section id="slot-wrapper" class="py-14 duration-500 opacity-0" data-reveal-on-load>
					<slot />
				</section>
				<Footer />
				<MenuButton />
			</section>
		</section>
	</body>
</html>

<script>
	window.addEventListener('DOMContentLoaded', () => {
		setTimeout(() => {
			document.querySelector<HTMLElement>('[data-reveal-on-load]')!.style.opacity = '1';
		}, 500);
	});
</script>
