---
import '../styles/global.css';
import MenuButton from '../components/MenuButton.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<section id="body-wrapper" class="bg-green1">
			<section id="body-max-width-wrapper" class="text-gray3 font-en max-w-7xl mx-auto">
				<Header />
				<section id="slot-wrapper" class="py-14">
					<slot />
				</section>
				<MenuButton />
			</section>
		</section>
	</body>
</html>
