---
const { modalName } = Astro.props;
---

<div
  id=`modal-${modalName}`
  data-which-modal={modalName}
  class="[&.active]: pointer-events-none fixed top-0 left-0 z-0 flex h-svh w-full items-center justify-center bg-black/95 opacity-0 [&.active]:pointer-events-auto [&.active]:z-100 [&.active]:opacity-100"
  inert
>
  <slot />
</div>

<script>
  let scrollY = 0;
  import {
    navModalStore,
    fetchProcessingModalStore,
    mailDeliveredModalStore,
    fetchErrorModalStore,
    askPasswordModalStore,
    deleteMessageCompleteModalStore,
    deleteMessageInvalidPasswordModalStore,
    messageCreatedModalStore,
  } from "../common/stores";

  navModalStore.subscribe((isModalOpen) => {
    const element = document.querySelector("#modal-nav") as HTMLElement;
    if (element) {
      updateModal(element, isModalOpen);
    }
  });
  fetchProcessingModalStore.subscribe((isModalOpen) => {
    const element = document.querySelector("#modal-fetch-processing") as HTMLElement;
    if (element) {
      updateModal(element, isModalOpen);
    }
  });
  mailDeliveredModalStore.subscribe((isModalOpen) => {
    const element = document.querySelector("#modal-fetch-success") as HTMLElement;
    if (element) {
      updateModal(element, isModalOpen);
    }
  });
  fetchErrorModalStore.subscribe((isModalOpen) => {
    const element = document.querySelector("#modal-fetch-error") as HTMLElement;
    if (element) {
      updateModal(element, isModalOpen);
    }
  });

  messageCreatedModalStore.subscribe((isModalOpen) => {
    const element = document.querySelector("#modal-message-created") as HTMLElement;
    if (element) {
      updateModal(element, isModalOpen);
    }
  });

  askPasswordModalStore.subscribe((isModalOpen) => {
    const element = document.querySelector("#modal-ask-password") as HTMLElement;
    if (element) {
      updateModal(element, isModalOpen);
    }
  });

  deleteMessageCompleteModalStore.subscribe((isModalOpen) => {
    const element = document.querySelector("#modal-delete-message-complete") as HTMLElement;
    if (element) {
      updateModal(element, isModalOpen);
    }
  });
  deleteMessageInvalidPasswordModalStore.subscribe((isModalOpen) => {
    const element = document.querySelector("#modal-delete-message-invalid-password") as HTMLElement;
    if (element) {
      updateModal(element, isModalOpen);
    }
  });

  function updateModal(element: HTMLElement, boolean: boolean) {
    if (boolean) {
      element.classList.add("active");
      element.removeAttribute("inert");
    } else {
      element.classList.remove("active");
      element.setAttribute("inert", "");
    }
    window.scrollY !== 0 ? (scrollY = window.scrollY) : 0;
    updateFixedScreen(boolean, scrollY);
  }

  function updateFixedScreen(boolean: boolean, scrollY: number) {
    if (boolean) {
      document.body.style.cssText = `
    position: fixed;
    top: -${scrollY}px;
    overflow-y: scroll;
    width: 100%;`;
    } else {
      document.body.style.cssText = "";
      window.scrollTo(0, scrollY);
    }
  }
</script>
