---
import Head from "./Head.astro";
import OuterLayout from "./OuterLayout.astro";
import InnerLayout from "./InnerLayout.astro";
import { printHTMLDocumentLanguage } from "../common/functions";
import type { Languages } from "../common/types";
import "../styles/global.css";
import "../styles/common.scss";
const { title } = Astro.props;
const { language } = Astro.params as { language: Languages };
---

<!doctype html>
<html lang={printHTMLDocumentLanguage(language)} data-overlayscrollbars-initialize data-theme="dark">
  <Head title={title} />
  <body data-overlayscrollbars-initialize>
    <OuterLayout>
      <InnerLayout language={language}>
        <slot />
      </InnerLayout>
    </OuterLayout>
  </body>
</html>

<script is:inline>
  const htmlElement = document.querySelector("html");
  if (localStorage.getItem("dugsblog-theme") === "dark") {
    htmlElement.setAttribute("data-theme", "dark");
  } else if (localStorage.getItem("dugsblog-theme") === "light") {
    htmlElement.setAttribute("data-theme", "light");
  }
</script>
