---
import Head from "./Head.astro";
import OuterLayout from "./OuterLayout.astro";
import InnerLayout from "./InnerLayout.astro";
import GoogleTagManagerBody from "./analytics/GoogleTagManagerBody.astro";
import { printHTMLDocumentLanguage } from "../common/functions";
import "../styles/global.css";
import "../styles/common.scss";
import type { Languages } from "../common/types";
const { title } = Astro.props;
const { language } = Astro.params as { language: Languages };
---

<!doctype html>
<html lang={printHTMLDocumentLanguage(language)} data-overlayscrollbars-initialize data-theme="dark">
  <Head title={title} />
  <body data-overlayscrollbars-initialize>
    <GoogleTagManagerBody />
    <OuterLayout>
      <InnerLayout>
        <slot />
      </InnerLayout>
    </OuterLayout>
  </body>
</html>

<script>
  import { isStringLanguage } from "../common/functions";
  const htmlElement = document.querySelector("html") as HTMLElement;
  const languageFromUrl = location.href.split(location.origin)[1].split("/")[1];

  if (isStringLanguage(languageFromUrl)) {
    localStorage.setItem("dugsblog-language", languageFromUrl);
  }

  if (localStorage.getItem("dugsblog-theme") === "dark") {
    htmlElement.setAttribute("data-theme", "dark");
  } else if (localStorage.getItem("dugsblog-theme") === "light") {
    htmlElement.setAttribute("data-theme", "light");
  }
</script>
