---
import RootLayout from "../../../layouts/RootLayout.astro";
import Skills from "../../../components/about/Skills.astro";
import EducationAndCareer from "../../../components/about/EducationAndCareer.astro";
import type { Languages } from "../../../common/types";
import { printPageTitle, isStringLanguage } from "../../../common/functions";
const { language } = Astro.params as { language: Languages };
const title = printPageTitle(Astro.url.pathname, language);
if (!isStringLanguage(language)) {
  return Astro.redirect("/", 301);
}
---

<RootLayout title={title}>
  <div class="lg:px-20">
    <Skills />
    <EducationAndCareer />
  </div>
</RootLayout>
