---
import RootLayout from "../../../layouts/RootLayout.astro";
import Skills from "../../../components/about/Skills.astro";
import EducationAndCareer from "../../../components/about/EducationAndCareer.astro";
import type { Languages } from "../../../common/types";
import { printPageTitle, isStringLanguage } from "../../../common/functions";
const { language } = Astro.params as { language: Languages };
const title = printPageTitle(Astro.url.pathname, language);
if (!isStringLanguage(language)) {
  return new Response(null, { status: 404 });
}
---

<RootLayout title={title} language={language}>
  <div class="px-2 lg:px-20">
    <Skills language={language} />
    <EducationAndCareer language={language} />
  </div>
</RootLayout>
