---
import RootLayout from "../../../layouts/RootLayout.astro";
import Skills from "../../../components/about/Skills.astro";
import EducationAndCareer from "../../../components/about/EducationAndCareer.astro";
import type { Languages } from "../../../common/types";
import { printPageTitle, isStringLanguage } from "../../../common/functions";
const { language } = Astro.params as { language: Languages };
const title = printPageTitle(Astro.url.pathname, language);
import "../../../css/particles.scss";
if (!isStringLanguage(language)) {
  return new Response(null, { status: 404 });
}
---

<RootLayout title={title}>
  <div class="lg:px-20">
    <Skills />
    <EducationAndCareer />
  </div>
</RootLayout>

<script src="/src/js/particles.js"></script>
